<div id="maindiv" ng-init="load()" class="card-panel">
	<h6>USER DETAILS</h6>
	<hr/>

	<!-- <div layout="column" ng-cloak class="md-inline-form"> -->

		<!-- <md-content layout-padding> -->
			<div class="row">
				<form name="userForm" class="col s12" autocomplete="off">

					<div layout-gt-sm="row">
						<md-input-container class="md-block" flex-gt-xs>
							<label autofocus>First name</label>

							<input ng-model="data.first_name" name="fname" type="text" ng-pattern="/^(\D)+$/"  required  autofocus>
							<p style = "color:red" ng-show="userForm.fname.$error.pattern">Text only, please.</p>
							<span style = "color:red" ng-show = "userForm.fname.$dirty && userForm.fname.$error.required">Required*</span>
						</md-input-container>
					</div>

					<div layout-gt-sm="row">
						<md-input-container class="md-block" flex-gt-xs>
							<label>Last name</label>
							<input ng-model="data.last_name" name="lname" type="text" required  ng-pattern="/^(\D)+$/">
							<p style = "color:red" ng-show="userForm.lname.$error.pattern">Text only, please.</p>

							<span style = "color:red" ng-show = "userForm.lname.$dirty && userForm.lname.$error.required">Required*</span>
						</md-input-container>
					</div>
					
					<input id="username" style="display:none" type="email" name="fakeusernameremembered">
					<input id="password" style="display:none" type="password" name="fakepasswordremembered">

					<div layout-gt-sm="row">
						<md-input-container class="md-block" flex-gt-xs>
							<label>Email</label>
							<input ng-model="data.email" name="email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" type="email" autocomplete="none" required>
							<span style = "color:red" ng-show = "userForm.email.$dirty && userForm.email.$error.required">Required*</span>
							<span style="color:Red" ng-show="userForm.email.$dirty && userForm.email.$error.pattern">Please Enter Valid Email</span>
						</md-input-container>
					</div>

					<div layout-gt-sm="row" ng-if="mode == 'add'" >
						<md-input-container class="md-block" flex-gt-xs >
							<label>Password {{password}}</label>
							<input type="password" name="password" ng-model="user.password" minlength="8" maxlength="20" autocomplete="new-password" required>
							<span class="help-block" style = "color:red" ng-show="userForm.password.$dirty && userForm.password.$error.required">Required*</span>
							<span  style = "color:red" ng-show="!userForm.password.$error.required && (userForm.password.$error.minlength || userForm.password.$error.maxlength) && userForm.password.$dirty">Passwords must be between 8 and 20 characters.</span>
						</md-input-container>
					</div>

					<div layout-gt-sm="row" ng-if="mode == 'add'">
						<md-input-container class="md-block" flex-gt-xs >
							<label>Confirm Password {{confirmPassword}}</label>
							<input type="password" ng-model="user.confirmPassword" name="confirmPassword"  compare-to="password" minlength="8" maxlength="20" required>
							<span class="help-block" style = "color:red" ng-show="userForm.confirmPassword.$dirty && userForm.confirmPassword.$error.required">Required*</span>
							<div ng-if="user.password !=user.confirmPassword">
								<span style = "color:red" >The password and confirmation password do not match.</span>
							</div>
						</md-input-container>
					</div>
					<!-- <span class="help-block" style = "color:red" ng-show="userForm.role.$dirty && userForm.role.$error.required">Passwords Don't Match</span> -->
					
					<div layout-gt-sm="row">
						<md-input-container class="md-block" flex-gt-xs>
							<label>Roles</label>

							<md-select ng-model="data.role" placeholder="Select Role" name='role' required>
								<md-option value="" disabled selected>Choose your option</md-option>
								<md-option ng-value="opt.title" ng-repeat="opt in roles track by opt.title">{{ opt.title }}</md-option>
								<span class="help-block" style = "color:red" ng-show="userForm.role.$dirty && userForm.role.$error.required">Required*</span>
							</md-select>
						</md-input-container>
					</div>

					<div layout-gt-sm="row" ng-if = "data.role && data.role != 'admin'">
						<md-input-container class="md-block" flex-gt-xs>
							<label>Set Role Priority</label>
							<input ng-model = "prioritiess" ng-blur = "priorities(prioritiess)"  autocomplete="none">
						</md-input-container>
					</div>

					<div layout-gt-sm="row" ng-if = "data.role == 'technician'">
						<md-input-container class="md-block" flex-gt-xs>
							<label>Lab</label>

							<md-select  ng-model="techlab" placeholder="Select Lab" name='lab' required>
								<md-option value="" disabled selected>Choose your option</md-option>
								<md-option ng-repeat="x in totallabs" ng-click = "click(x.id)" ng-value="x.id" >{{ x.name }}</md-option>
								<span class="help-block" style = "color:red" ng-show="userForm.role.$dirty && userForm.role.$error.required">Required*</span>
							</md-select>
						</md-input-container>
						{{techlab}}
					</div>
					
					<div layout-gt-sm="row" class="md-block" >
						  
							<label>IsActive</label>
							<input ng-value="data.is_active" type="checkbox" ng-model="data.is_active" ng-checked="data.is_active" style="margin-left: 24px;
							margin-top: 4px;">
							<!-- <input ng-model="data.is_active" name= "is_active" type="checkbox" ng-checked="data.is_active == true"> -->
							<!-- <span style = "color:red" ng-show = "userForm.is_active.$dirty && userForm.is_active.$error.required">Required*</span> -->
						 
					</div> 


				</form>

		<!-- </md-content> -->

	<!-- </div> -->

	<!-- Add Button -->
	<div class="fixed-action-btn">
		<a class="btn-floating btn-large teal" href="">
				<i class="large material-icons">menu</i>
		</a>
		<!-- <ul ng-if="mode == 'view'">
			<li><a class="btn-floating yellow darken-4" href="#!users/" ><i class="material-icons" >cancel</i></a></li>
			<li><a class="btn-floating green darken-4" href="#!users/{{data.id}}/edit">
				<md-tooltip>Edit</md-tooltip>
				<i class="material-icons">mode_edit</i></a></li>
		</ul> -->
		<ul ng-if="mode == 'edit' || mode == 'add'">
			<li><abbr title="Cancel"><a class="btn-floating yellow darken-4" ng-click="cancelForm()"><i class="material-icons">cancel</i></a></abbr></li>
			<!-- <li><a class="btn-floating green darken-4" ng-click="save()"><i class="material-icons">save</i></a></li> -->
			<li ng-show="!id"><abbr title="Save"><a class="btn-floating green darken-4" ng-click="saveUser()"><i class="material-icons">save</i></a></abbr></li>
			<li ng-show="id"><abbr title="Save"><a class="btn-floating green btn tooltipped" ng-click="save()"><i class="material-icons">save</i></a></abbr></li>
		</ul>
	</div>
	<ul><li><abbr title="Save"><a class="btn-floating green darken-4" ng-click="saveUser()"><i class="material-icons">save</i></a></abbr></li>
	</ul>


</div>

<modal options="modalOptions"></modal>

</div>
