<style>
	.card {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		transition: 0.3s;
		width: 40%;
		background-color: #F8FBEF;
		text-align: center;
		margin-top: 39px;

	}

	.card:hover {
		box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	}

	.container {
		padding: 2px 16px;
	}

	.tooltip {
		position: relative;
		display: inline-block;
		border-bottom: 1px dotted black;
	}

	.tooltip .tooltiptext {
		visibility: hidden;
		width: 120px;
		background-color: #555;
		color: #fff;
		text-align: center;
		border-radius: 6px;
		padding: 5px 0;
		position: absolute;
		z-index: 1;
		bottom: 125%;
		left: 50%;
		margin-left: -60px;
		opacity: 0;
		transition: opacity 0.3s;
	}

	.tooltip .tooltiptext::after {
		content: "";
		position: absolute;
		top: 100%;
		left: 50%;
		margin-left: -5px;
		border-width: 5px;
		border-style: solid;
		border-color: #555 transparent transparent transparent;
	}

	.tooltip:hover .tooltiptext {
		visibility: visible;
		opacity: 1;
	}

	
</style>
<div class ="tabmenu">
	<div class = "title">
		<h6>{{procedure[0].procedure.title.trim()}}</h6>
	</div>
	<br>
	<span ng-repeat="item in procedure track by $index" style="margin-left: 10px;">
		<span ng-click="selectformbyid(item.form_id, $index);" class="lab" id="item-{{$index}}" ng-style="$index != 0 ? { 'background-color': '#848484' } : {}"
			aria-selected="true">{{item.form.title.trim()}}</span>

	</span>
	<hr style="margin-top:12px">
</div>


<div ng-init="load()">



	<br>

	<h6> {{formtitle}}</h6>

	<form class="col s12" id="masterform" name="formBuilder" novalidate
		ng-submit="formBuilder.$valid && formBuilder.submit()">
		<section class="row card-panel" ng-if="data.form_default_fields.length > 0">
			<h7>MASTERS</h7>

			<br>
			<div ng-repeat="x in data.form_default_fields track by $index">

				<div class="input-field {{column}}" ng-if="x.default_field.field_type.id == 1">

					<ul class="collection">
						<li class="collection-item">

							<h7>
								<b>{{x.master.title}}</b>
							</h7>
							<div>
								<label for="input{{x.id}}" for="autocomplete-input">{{x.default_field.title}} </label>
							</div>
							<input id="{{x.id}}" type="text" name="m1" class="autocomplete-{{x.default_field.id}}"
								ng-model="data.default_entries[selectform][x.id]"
								ng-blur="masterTypeChanged(x,x.default_field.id,data.default_entries[selectform][x.id],x.id)"
								autofocus>
						</li>
					</ul>
				</div>
				<!-- {{x.form.masterEnableList == x.master}} {{x.master}} -->
				<div class="input-field {{column}}" ng-if="x.default_field.field_type.id == 2">
					<!-- <ul class="collection" >
						<li class="collection-item">
							<h7>
								<b>{{x.master.title}}</b>
							</h7>
							<div>
								<label for="input{{x.id}}">{{x.default_field.title}}</label>
							</div>
							<input id="{{x.id}}" name="m2" type="number" onkeydown="javascript: return event.keyCode == 69? false : true" class="validate"
							 ng-blur="masterTypeChanged(x.default_field.id,data.default_entries[x.id],x.id)" ng-model="data.default_entries[x.id]"
							 ng-disabled="!x.form.masterEnableList.includes(x.master.id)">

						</li>
					</ul> -->
					<ul class="collection">
						<li class="collection-item">

							<h7>
								<b>{{x.master.title}}</b>
							</h7>
							<div>
								<label for="input{{x.id}}" for="autocomplete-input">{{x.default_field.title}} </label>
							</div>
							<input id="{{x.id}}" type="text" name="m2" class="autocomplete m{{x.default_field.id}}"
								onkeydown="javascript: return event.keyCode == 48 ||
							event.keyCode == 49 || event.keyCode == 50 || event.keyCode == 51 ||
							event.keyCode == 52 || event.keyCode == 53 || event.keyCode == 54 || event.keyCode == 55 ||
							event.keyCode == 56 ||event.keyCode == 57 ||event.keyCode == 8 || event.keyCode == 46 ||
							 event.keyCode == 190 ||  event.keyCode == 96 ||  event.keyCode == 97  ||  event.keyCode == 98  ||  event.keyCode == 99  ||  event.keyCode == 100
							 ||  event.keyCode == 101  ||  event.keyCode == 102  ||  event.keyCode == 103  ||  event.keyCode == 104  ||  event.keyCode == 105  ||  event.keyCode == 106  ||  event.keyCode == 107
							 ||  event.keyCode == 108  ||  event.keyCode == 109  ||  event.keyCode == 110  ||  event.keyCode == 111 || event.keyCode == 9? true : false"
								ng-model="data.default_entries[selectform][x.id]"
								ng-blur="masterTypeChanged(x,x.default_field.id,data.default_entries[selectform][x.id],x.id)"
								autofocus>
						</li>
					</ul>
				</div>
				<div class="input-field {{column}}" ng-if="x.default_field.field_type.id == 3">
					<!-- <ul class="collection" >
						<li class="collection-item">
							<h7>
								<b>{{x.master.title}}</b>
							</h7>
							<div>
								<label for="input{{x.id}}">{{x.default_field.title}}</label>
							</div>

							<md-input-container class="fill-width" style="margin-top:11px;">

								<md-select ng-model="data.default_entries[x.id]" ng-disabled="!x.form.masterEnableList.includes(x.master.id)">
									<md-option ng-value="opt" ng-repeat="opt in data.masterDataSource[x.id] track by $index" autofocus>{{ opt }}</md-option>
								</md-select>
							</md-input-container>
						</li>
					</ul> -->
					<ul class="collection">
						<li class="collection-item">

							<h7>
								<b>{{x.master.title}}</b>
							</h7>
							<div>
								<label for="input{{x.id}}" for="autocomplete-input">{{x.default_field.title}} </label>
							</div>
							<input id="{{x.id}}" type="text" name="m1" class="autocomplete m{{x.default_field.id}}"
								ng-model="data.default_entries[selectform][x.id]"
								ng-blur="masterTypeChanged(x,x.default_field.id,data.default_entries[selectform][x.id],x.id)"
								autofocus>
						</li>
					</ul>
				</div>

				<div class="input-field {{column}}" ng-if="x.default_field.field_type.id == 6">
					<!-- <ul class="collection" >
						<li class="collection-item">
							<h7>
								<b>{{x.master.title}}</b>
							</h7>
							<input type="date" name="m6" id="forfuturedatesdisable" ng-model="data.default_entries[x.id]" ng-click="validDate();" ng-disabled="!x.form.masterEnableList.includes(x.master.id)"
							 max="2999-12-31">
							<label for="input{{x.id}}">{{x.default_field.title}}</label>
						</li>
					</ul> -->
					<ul class="collection">
						<li class="collection-item">

							<h7>
								<b>{{x.master.title}}</b>
							</h7>
							<div>
								<label for="input{{x.id}}" for="autocomplete-input">{{x.default_field.title}} </label>
							</div>
							<input id="{{x.id}}" type="text" name="m1" class="autocomplete m{{x.default_field.id}}"
								ng-model="data.default_entries[selectform][x.id]"
								ng-blur="masterTypeChanged(x,x.default_field.id,data.default_entries[selectform][x.id],x.id)"
								autofocus>
						</li>
					</ul>
				</div>

				<div class="input-field {{column}}" ng-if="x.default_field.field_type.id == 7" autofocus>
					<!-- <ul class="collection" >
						<li class="collection-item">
							<h7>
								<b>{{x.master.title}}</b>
							</h7>
							<input id="input{{x.id}}" type="time" name="m7" class="validate" ng-model="data.default_entries[x.id]" ng-disabled="!x.form.masterEnableList.includes(x.master.id)">
							<label for="input{{x.id}}">{{x.default_field.title}}</label>
						</li>
					</ul> -->
					<ul class="collection">
						<li class="collection-item">

							<h7>
								<b>{{x.master.title}}</b>
							</h7>
							<div>
								<label for="input{{x.id}}" for="autocomplete-input">{{x.default_field.title}} </label>
							</div>
							<input id="{{x.id}}" type="text" name="m1" class="autocomplete m{{x.default_field.id}}"
								ng-model="data.default_entries[selectform][x.id]"
								ng-blur="masterTypeChanged(x,x.default_field.id,data.default_entries[selectform][x.id],x.id)"
								autofocus>
						</li>
					</ul>
				</div>

				<div class="input-field {{column}}" ng-if="x.default_field.field_type.id == 12">
					<!-- <div>
						<h7>
							<b>{{x.master.title}}</b>
						</h7>
						<br/>
						<label for="input{{x.id}}">
							<span style="color:red" ng-if="x.is_required" autofocus>*</span>{{x.default_field.title}}
						</label>
					</div> -->
					<!-- <md-input-container class="fill-width" style="margin-top:11px;">
						<md-select ng-model="data.default_entries[x.id]">
							<md-option ng-value="opt" ng-repeat="opt in data.parentMasterArray[x.default_field.title]  track by $index" autofocus>{{ opt }}</md-option>
						</md-select>
						<div ng-if="x.is_required">
							<p style="color:red" ng-show="formBuilder.m12.$error.required && !formBuilder.m12.$pristine" class="help-block">Required</p>
						</div>
					</md-input-container> -->
					<ul class="collection">
						<li class="collection-item">

							<h7>
								<b>{{x.master.title}}</b>
							</h7>
							<div>
								<label for="input{{x.id}}" for="autocomplete-input">{{x.default_field.title}} </label>
							</div>
							<input id="{{x.id}}" type="text" name="m1" class="autocomplete m{{x.default_field.id}}"
								ng-model="data.default_entries[selectform][x.id]"
								ng-blur="masterTypeChanged(x,x.default_field.id,data.default_entries[selectform][x.id],x.id)"
								autofocus>
						</li>
					</ul>
				</div>
			</div>
		</section>


		<section class="row card-panel" ng-if="data.form_fields.length > 0">
			<h7>FIELDS</h7>
			<br>
			<br>
			<div class="" ng-repeat="x in data.form_fields | orderBy: 'seq' ">
				<div class="input-field {{column}}" ng-if="x.field.field_type.id == 1">

					<div>
						<label ng-hide="editmod && x.is_multiple" for="input{{x.id}}" name="in1">
							<span style="color:red" ng-if="x.is_required">*</span>{{x.field.title}}</label>
					</div>



					<input ng-hide="editmod && x.is_multiple" id="input{{x.id}}" type="text" class="validate"
						name="field1" ng-model="data.entries[selectform][x.id]" ng-required="x.is_required">

					<div ng-if="x.is_required">
						<span style="color:red" ng-show="formBuilder.field1.$dirty && formBuilder.field1.$invalid">
							<span ng-show="formBuilder.field1.$error.x.is_required">Required*</span>
						</span>
					</div>

					<div ng-show="x.is_multiple" ng-repeat="y in textfields track by $index"
						ng-if="x.field.field_type.id == 1">
						<div>
							<label for="text{{$index}}" name="in1">
								<span style="color:red" ng-if="x.is_required">*</span>{{x.field.title}}</label>
						</div>
						<input id="text{{$index}}" type="text" class="validate" name="text{{$index}}"
							ng-model="textitem[$index]" ng-required="x.is_required"
							ng-blur="onbluretext(textitem[$index])">


						<div ng-if="x.is_required">
							<span style="color:red" ng-show="formBuilder.field1.$dirty && formBuilder.field1.$invalid">
								<span ng-show="formBuilder.field1.$error.x.is_required">Required*</span>
							</span>
						</div>
					</div>
					<div ng-show="x.is_multiple" class="add-btn-mul-col">
						<a style="width: 34px;height: 34px;" class="btn-floating blue darken-4" href=""
							ng-click="addtext(x,textitem[$index])">
							<i style="margin-top: -2px;" class="material-icons">add</i>
						</a>
					</div>

				</div>

				<div class="input-field {{column}}" ng-if="x.field.field_type.id == 2">

					<div>
						<label ng-hide="editmod  && x.is_multiple" for="input{{x.id}}" name="in2">
							<span style="color:red" ng-if="x.is_required">*</span>{{x.field.title}}</label>
					</div>
					<input ng-hide="editmod && x.is_multiple" id="{{x.field.title}}" type="text"
						onkeydown="javascript: return event.keyCode == 48 ||
					event.keyCode == 49 || event.keyCode == 50 || event.keyCode == 51 ||
					event.keyCode == 52 || event.keyCode == 53 || event.keyCode == 54 || event.keyCode == 55 ||
					event.keyCode == 56 ||event.keyCode == 57 ||event.keyCode == 8 || event.keyCode == 46 ||
					 event.keyCode == 190 ||  event.keyCode == 96 ||  event.keyCode == 97  ||  event.keyCode == 98  ||  event.keyCode == 99  ||  event.keyCode == 100
					 ||  event.keyCode == 101  ||  event.keyCode == 102  ||  event.keyCode == 103  ||  event.keyCode == 104  ||  event.keyCode == 105  ||  event.keyCode == 106  ||  event.keyCode == 107
					 ||  event.keyCode == 108  ||  event.keyCode == 109  ||  event.keyCode == 110  ||  event.keyCode == 111 || event.keyCode == 9? true : false" class="validate" name="{{x.field.title}}"
						ng-model="data.entries[selectform][x.id]" ng-required="x.is_required"
						ng-blur="calculatFormula(data.entries[x.id],'',x.field.title);">
					<div ng-if="x.is_required">
						<p style="color:red"
							ng-show="formBuilder.field2.$error.required && !formBuilder.field2.$pristine"
							class="help-block">Required*</p>
					</div>
					<div ng-show="x.is_multiple" ng-repeat="y in numberfields track by $index"
						ng-if="x.field.field_type.id == 2">
						<div>
							<label for="number{{$index}}" name="in2">
								<span style="color:rgb(133, 80, 80)"
									ng-if="x.is_required">*</span>{{x.field.title}}</label>
						</div>
						<input id="number{{$index}}" name="number{{$index}}" type="text"
							onkeydown="javascript: return event.keyCode == 69? false : true" class="validate"
							ng-model="numberitem[$index]" ng-required="x.is_required"
							ng-blur="onblurenumber(numberitem[$index])">

						<div ng-if="x.is_required">
							<p style="color:red"
								ng-show="formBuilder.field2.$error.required && !formBuilder.field2.$pristine"
								class="help-block">Required*</p>
						</div>
					</div>
					<div ng-show="x.is_multiple" class="add-btn-mul-col">
						<a style="width: 34px;height: 34px;" class="btn-floating blue darken-4" href=""
							ng-click="addnumber(x,numberitem[$index])">
							<i style="margin-top: -2px;" class="material-icons">add</i>
						</a>
					</div>
				</div>


				<div class="input-field {{column}}" ng-if="x.field.field_type.id == 3">
					<div>
						<label for="input{{x.id}}">
							<span style="color:red" ng-if="x.is_required" ng-required="x.is_required"
								autofocus>*</span>{{x.field.title}}
						</label>
					</div>
					<md-input-container class="fill-width" style="margin-top:11px;">

						<md-select ng-model="data.entries[selectform][x.id]" ng-required="x.is_required">

							<md-option ng-value="opt" ng-repeat="opt in data.fieldDataSource[x.id] track by $index"
								autofocus>{{opt}}</md-option>
						</md-select>
						<div ng-if="x.is_required">
							<p style="color:red" ng-show="formBuilder.m3.$error.required && !formBuilder.m3.$pristine"
								class="help-block">Required*</p>
						</div>
					</md-input-container>

				</div>


				<div class="input-field {{column}}" ng-if="x.field.field_type.id == 4">
					<div class="col s2">
						<label class="small" style="margin-left:-10px;">
							<span style="color:red" ng-if="x.is_required" ng-required="x.is_required"
								class="ng-scope">*</span>{{x.field.title}}:</label>
					</div>
					<div class="input-field col s4" style="margin-top:1px;">
						<md-radio-group id="input{{x.id}}" name="field4" ng-model="data.entries[selectform][x.id]"
							ng-required="x.is_required">
							<md-radio-button ng-value="opt"
								ng-repeat="opt in data.fieldDataSource[x.id] track by $index">
								{{opt}}
							</md-radio-button>
						</md-radio-group>
						<div ng-if="x.is_required">
							<p style="color:red"
								ng-show="formBuilder.field4.$error.required && !formBuilder.field4.$pristine"
								class="help-block">Required*</p>
						</div>
					</div>

				</div>

				<div class="input-field {{column}}" ng-if="x.field.field_type.id == 5">
					<div class="col s2">
						<label class="small" style="margin-left:-10px;">
							<span style="color:red" ng-if="x.is_required">*</span>{{x.field.title}}</label>
					</div>
					<div class="input-field col s2" style="margin-top:1px;">
						<md-checkbox name="selectedFruits[]" ng-checked="selection.indexOf(opt) > -1" value="{{opt}}"
							ng-click="toggleSelection(opt)"
							ng-repeat="opt in data.fieldDataSource[x.id] track by $index" ng-required="x.is_required">
							{{opt}}
						</md-checkbox>
						<div ng-if="x.is_required">
							<span style="color:red" ng-show="formBuilder.field5.$dirty && formBuilder.field5.$invalid">
								<span ng-show="formBuilder.field5.$error.required">Required*</span>
							</span>
						</div>
					</div>
				</div>

				<div class="input-field {{column}}" ng-if="x.field.field_type.id == 6">
					<input type="date" name="field6" id="forfuturedatesdisable"
						ng-model="data.entries[selectform][x.id]" ng-required="x.is_required" ng-click="validDate();"
						max="2999-12-31">
					<label for="input{{x.id}}">
						<span style="color:red" ng-if="x.is_required">*</span>{{x.field.title}}</label>
					<div ng-if="x.is_required">
						<span style="color:red" ng-show="formBuilder.field6.$dirty && formBuilder.field6.$invalid">
							<span ng-show="formBuilder.field6.$error.required">Required*</span>
						</span>
					</div>
				</div>

				<div class="input-field {{column}}" ng-if="x.field.field_type.id == 7">
					<input id="input{{x.id}}" type="time" name="field7" class="validate"
						ng-model="data.entries[selectform][x.id]" ng-required="x.is_required">
					<label for="input{{x.id}}">
						<span style="color:red" ng-if="x.is_required">*</span>{{x.field.title}}</label>
					<div ng-if="x.is_required">
						<span style="color:red" ng-show="formBuilder.field7.$dirty && formBuilder.field7.$invalid">
							<span ng-show="formBuilder.field7.$error.required">Required*</span>
						</span>
					</div>
				</div>

				<div class="input-field {{column}}" ng-if="x.field.field_type.id == 8">
					<div style="margin-top: 12px; margin-left: -5px;">
						<div class="col s2">
							<label ng-hide="editmod  && x.is_multiple" class="small" for="input{{x.id}}m">
								<span style="color:red" ng-if="x.is_required">*</span>{{x.field.title}}</label>
						</div>
						<div class="col s8">
							<input ng-hide="editmod  && x.is_multiple" ng-blur="uploadField()"
								accept=".jpg, .png, .doc, .docx, .odt, .pdf, .xls, .xlsx, .ppt, .pptx, .csv, .jpeg, .png,  .sql,.php, .js, .ts, .html, .py, .java, .c, .txt"
								id="file" type="file" ng-model="xyzwew" name="file" class="validate"
								file-model="data.entries[x.id]" ng-required="x.is_required">
							<div ng-if="x.is_required">
								<span style="color:red"
									ng-show="formBuilder.field8.$dirty && formBuilder.field8.$invalid">
									<span ng-show="formBuilder.field8.$error.required">Required*</span>
								</span>
							</div>
							<div ng-if="msg">
								<p style="color: red"> {{msg}}</p>
							</div>
							<div ng-if="msgType">
								<p style="color: red">{{msgType}}</p>
							</div>
						</div>
						<div class="col s2" style="width: auto;">
							<a class="btn-floating red" href="" style="margin-top: -9px;" ng-click="deletefile(x.id)">
								<i class="material-icons">delete</i>
							</a>
						</div>

					</div>

					<div ng-show="x.is_multiple" ng-repeat="y in filefields track by $index"
						ng-if="x.field.field_type.id == 8">
						<div style="margin-top: 12px; margin-left: -5px;">
							<div class="col s2">
								<label class="small" for="input{{x.id}}m">
									<span style="color:red" ng-if="x.is_required">*</span>{{x.field.title}}</label>
							</div>
							<div class="col s10">
								<input id="file{{$index}}" type="file"
									accept=".jpg, .png,.doc,.docx,.odt,.pdf,.xls,.xlsx,.ppt,.pptx,.csv,.jpeg,.png, .sql,.php, .js, .ts, .html, .py, .java, .c, .txt"
									name="file{{$index}}" class="validate" file-model="fileitem[$index]"
									ng-required="x.is_required" ng-blur="onblurefile($index)">
								<div>
									<span style="color:red"
										ng-show="formBuilder.file{{$index}}.$dirty && formBuilder.file{{$index}}.$invalid">
										<span ng-show="formBuilder.field8.$error.required">Required*</span>
									</span>
								</div>
								<div ng-if="msg">
									<p style="color: red"> {{msg}}</p>
								</div>
								<div ng-if="msgType">
									<p style="color: red">{{msgType}}</p>
								</div>
							</div>
						</div>
					</div>
					<div ng-show="x.is_multiple">
						<a style="width: 34px;height: 34px;" class="btn-floating blue darken-4" href=""
							ng-click="addfile(x,fileitem[$index])">
							<i style="margin-top: -2px;" class="material-icons">add</i>
						</a>
					</div>

					<!-- {{fileitem}}   {{data.entries[x.id]}} -->
					<div ng-show="editmod" class="input-field {{column}}" style="width: auto;">
						<ul ng-if="data.entries[x.id] == fileitem" class="collapsible">
							<li>
								<div class="collapsible-header" ng-repeat="filei in remanfile track by $index">
									<i class="material-icons">attach_file </i>
									<!-- <a  download ng-click="fileopen(data.entries[x.id])">{{data.entries[x.id]}}</a> -->
									<a download ng-click="fileopen(filei)">{{filei}}</a>
									<i class="material-icons" ng-click="deletefile($index,x.id)">clear</i>
								</div>
							</li>
						</ul>
					</div>
				</div>

				<div class="input-field {{column}}" ng-if="x.field.field_type.id == 9">
					<div>
						<label ng-hide="editmod  && x.is_multiple" for="input{{x.id}}" name="label1">
							<span style="color:red" ng-if="x.is_required">*</span>{{x.field.title}}</label>
					</div>
					<textarea ng-hide="editmod  && x.is_multiple" id="textarea" name="field9"
						class="materialize-textarea" ng-model="data.entries[selectform][x.id]"
						ng-required="x.is_required"></textarea>
					<div ng-if="x.is_required">
						<span style="color:red" ng-show="formBuilder.field9.$dirty && formBuilder.field9.$invalid">
							<span ng-show="formBuilder.field9.$error.required">Required*</span>
						</span>
					</div>
					<div ng-show="x.is_multiple" ng-repeat="y in textarea track by $index"
						ng-if="x.field.field_type.id == 9">
						<div>
							<label for="textarea{{$index}}" name="label2">
								<span style="color:red" ng-if="x.is_required">*</span>{{x.field.title}}</label>
						</div>
						<textarea id="textarea{{$index}}" name="textarea{{$index}}" class="materialize-textarea"
							ng-model="textareaitem[$index]" ng-blur="onblurearea(textareaitem[$index])"
							ng-required="x.is_required"></textarea>


						<div ng-if="x.is_required">
							<span style="color:red" ng-show="formBuilder.field9.$dirty && formBuilder.field9.$invalid">
								<span ng-show="formBuilder.field9.$error.required">Required*</span>
							</span>
						</div>
					</div>
					<div ng-show="x.is_multiple" class="add-btn-mul-col">
						<a style="width: 34px;height: 34px;" class="btn-floating blue darken-4" href=""
							ng-click="addtextArea(x,textareaitem[$index])">
							<i style="margin-top: -2px;" class="material-icons">add</i>
						</a>
					</div>
				</div>
				<div class="input-field {{column}}" ng-if="x.field.field_type.id == 10">

					<div>
						<label ng-hide="editmod  && x.is_multiple" for="input{{x.id}}" name="in2">
							<span style="color:red" ng-if="x.is_required">*</span>{{x.field.title}}</label>
					</div>
					<input ng-hide="editmod && x.is_multiple" id="{{x.field.title}}" type="text"
						onkeydown="javascript: return event.keyCode == 69? false : true" placeholder="Auto Calculated"
						class="validate" name="field2" ng-model="data.entries[selectform][x.id]"
						ng-required="x.is_required">
					<div ng-if="x.is_required">
						<p style="color:red"
							ng-show="formBuilder.field2.$error.required && !formBuilder.field2.$pristine"
							class="help-block">Required*</p>
					</div>
					<div ng-show="x.is_multiple" ng-repeat="y in numberfields track by $index"
						ng-if="x.field.field_type.id == 2">
						<div>
							<label for="number{{$index}}" name="in2">
								<span style="color:rgb(133, 80, 80)"
									ng-if="x.is_required">*</span>{{x.field.title}}</label>
						</div>
						<input id="number{{$index}}" name="number{{$index}}"
							onkeydown="javascript: return event.keyCode == 69? false : true" type="text"
							class="validate" ng-model="numberitem[$index]" ng-required="x.is_required"
							ng-blur="onblurenumber(numberitem[$index])">

						<div ng-if="x.is_required">
							<p style="color:red"
								ng-show="formBuilder.field2.$error.required && !formBuilder.field2.$pristine"
								class="help-block">Required*</p>
						</div>
					</div>
					<div ng-show="x.is_multiple" class="add-btn-mul-col">
						<a style="width: 34px;height: 34px;" class="btn-floating blue darken-4" href=""
							ng-click="addnumber(x,numberitem[$index])">
							<i style="margin-top: -2px;" class="material-icons">add</i>
						</a>
					</div>
				</div>
				<div class="input-field {{column}} card" ng-if="x.field.field_type.id == 11">
					<div class="container">
						<div>
							<label for="input{{x.id}}" name="label1">
								<span style="color:red" ng-if="x.is_required">*</span>{{x.field.title}} </label>
						</div>
						<img ng-show="editmod && profilesrc[x.field.title]"
							ng-src="http://localhost:8080/api/{{profilesrc[x.field.title] ? profilesrc[x.field.title]:''}}"
							alt="No Photo" width="460" height="345" class="profile">
						<canvas ng-show="!profilesrc[x.field.title]" class="profile" id="canvas{{x.field.title}}"
							width="200" height="200"></canvas>

						<span ng-show="editmod && profilesrc[x.field.title]">
							<a class="btn-floating edit-profile">
								<i class="material-icons" ng-click="opencamera(x.field.title,'edit')">mode_edit</i>
							</a>
						</span>

						<span ng-show="editmod && profilesrc[x.field.title]" class="tooltip">
							<a class="btn-floating blue darken-4"
								href="http://localhost:8080/api/{{profilesrc[x.field.title]}}" download target="_blank">
								<i class="material-icons">cloud_download</i>
							</a>
							<span class="tooltiptext">Download</span>
						</span>
						<div>
							<video ng-show="!profilesrc[x.field.title] || !editmod" id="video{{x.field.title}}"
								width="200" height="200" autoplay></video>
							<div style="margin-left: 9px;text-align: center">
								<span class="tooltip" ng-show="!editmod">
									<a class="btn-floating green-4 ">
										<i class="material-icons" ng-click="opencamera(x.field.title)">add_a_photo</i>
									</a>
									<span class="tooltiptext">Open Camera</span>
								</span>

								<span class="tooltip" ng-show="!profilesrc[x.field.title]">
									<a class="btn-floating blue darken-4">
										<i class="material-icons" id="snap" ng-click="takepic(x.field.title)">camera</i>
									</a>
									<span class="tooltiptext">Take Photo</span>
								</span>


								<span class="tooltip" ng-show="!profilesrc[x.field.title]">
									<a class="btn-floating blue darken-4">
										<i class="material-icons" ng-click="save2(x.field.title)"
											id="uplode">cloud_upload</i>
									</a>
									<span class="tooltiptext">Upload</span>
								</span>
							</div>
						</div>
					</div>
					<!-- <div ng-show="x.is_multiple" ng-repeat="canvace in captureData  track by $index" class="container">  {{profilesrc[0][$index][0][x.field.title][0] == undefined}}
						<div>
							<label for="input{{x.id}}" name="label1" ng-show="profilesrc[0][$index][0][x.field.title][0]">
								<span style="color:red" ng-if="x.is_required">*</span>{{x.field.title}}</label>
						</div>
						<img ng-show="profilesrc[0][$index][0][x.field.title][0]" src="/{{profilesrc[0][$index][0][x.field.title][0]}} " alt="No Photo" width="460" height="345" class="profile" >
						<canvas  class="profile"  id="canvas{{$index}}{{x.field.title}}" width="200" height="200"></canvas>
						<span ng-show="editmod && profilesrc[0][$index][0][x.field.title][0]" class="tooltip">
							<a class="btn-floating edit-profile">
								<i class="material-icons" ng-click="opencamera(x.is_multiple,$index,x.field.title,'edit')">mode_edit</i>
							</a>
							<span class="tooltiptext">Edit Photo</span>
						</span>
						<span ng-show="editmod && profilesrc[0][$index][0][x.field.title][0]" class="tooltip">
							<a class="btn-floating blue darken-4"  href="http://localhost:8080/{{profilesrc[x.field.title]}}"  download target="_blank">
								<i class="material-icons">cloud_download</i>
							</a>
							<span class="tooltiptext">Download</span>
						</span>
						<div>
							<video ng-show="!editmod || profilesrc[x.field.title] == true || flag[$index]" id="video{{x.field.title}}{{$index}}" width="200" height="200" autoplay></video>
							<div style="margin-left: 9px;text-align: center">
								<span ng-show="!editmod || flag[$index]" class="tooltip">
									<a class="btn-floating green-4">
										<i class="material-icons" ng-click="opencamera(x.is_multiple,$index,x.field.title)">add_a_photo</i>
									</a>
									<span class="tooltiptext">Open Camera</span>
								</span>
								<span ng-show="!editmod || profilesrc[x.field.title] == true ||  flag[$index]" class="tooltip">
									<a class="btn-floating blue darken-4">
										<i class="material-icons" id="snap{{$index}}"  ng-click="takepic(x.is_multiple,$index,x.field.title)">camera</i>
									</a>
									<span class="tooltiptext">Take Photo</span>
								</span>
	
								<span ng-show="!editmod || profilesrc[x.field.title] == true || flag[$index]" class="tooltip">
									<a class="btn-floating blue darken-4">
										<i class="material-icons" ng-click="save2(x,$index,x.field.title)" id="uplode{{$index}}">cloud_upload</i>
									</a>
									<span class="tooltiptext">Upload</span>
								</span>
							</div>
						</div>
	
					</div> -->

				</div>

				<div ng-show="x.is_multiple && x.field.field_type.id == 11" class="add-btn-mul-col">
					<a style="width: 34px;height: 34px;" class="btn-floating blue darken-4" href=""
						ng-click="addCapture(x)">
						<i style="margin-top: -2px;" class="material-icons">add</i>
					</a>
				</div>
			</div>
		</section>
		<section class="row card-panel" ng-if="editmod && reason ">

			<div>
				<label for="input{{x.id}}" name="label1">
					<span style="color:red">*</span>Reason for Update Form Entry</label>
			</div>
			<br>
			<div>
				<div class="input-field {{column}}">
					<textarea id="textarea" name="reasonUpdate" class="materialize-textarea"
						ng-model="data.reasonUpdate" ng-required="true" autofocus></textarea>
					<span style="color:red"
						ng-show="formBuilder.reasonUpdate.$dirty && formBuilder.reasonUpdate.$invalid">
						<span ng-show="formBuilder.reasonUpdate.$error.required">Required*</span>
					</span>
				</div>
			</div>
		</section>

	</form>


	<div class="fixed-action-btn">
		<a class="btn-floating btn-large teal" href="">
			<i class="large material-icons">menu</i>
		</a>
		<ul>
			<li>
				<abbr title="Cancel"><a class="btn-floating yellow darken-4" ng-click="showCancelFormModal()">
						<i class="material-icons">cancel</i>
					</a></abbr>
			</li>
			<li ng-show="!modeaction">
				<abbr title="Save"><a class="btn-floating green darken-4" ng-click="saveData(formBuilder)"
						ng-disabled="isDisabled">
						<i class="material-icons">save</i>
					</a></abbr>
			</li>
			<li ng-show="modeaction">
				<abbr title="Save"><a class="btn-floating green btn tooltipped" ng-click="save(formBuilder)">
						<i class="material-icons">save</i>
					</a></abbr>
			</li>
		</ul>
	</div>


	<modal options="modalOptions"></modal>

</div>