<div>
	<h6>QUESTION BANK</h6>
	<hr/>
	<div class="row" style="margin-left: -10px;">
		<div class=" input-field col s6">
			<input ng-hide="data.list.length==0" type="text" ng-model="searchQuestions" placeholder="Search by Question">
		</div>
	</div>
	<table>
		<thead>
			<!--<tr>-->
			<!--	<th >Title</th>-->
			<!--	<th style="float:right">Actions</th>-->
			<!--</tr>-->
			
		</thead>

		<tbody>
			<tr ng-repeat='x in data.list.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) | filter : {title:searchQuestions}'>
				<td style = "font-size: 14px;">
					{{x.title}}
				</td>
				<td style="float:right" ng-if="CurrentUserEditor ||CurrentUserAdmin">
					<div ng-show="x.title">
						<!--<span><a class="btn-floating yellow darken-4" href="#!master/{{x.id}}"><i class="material-icons">sort</i></a></span>-->
						<span>
							<abbr title="Edit"><a class="btn-floating green" href="#!forms-question-bank/{{x.id}}/edit">
								<i class="material-icons">mode_edit</i>
							</a></abbr>
						</span>
						<span>
							<abbr title="Delete"><a class="btn-floating red" href="" ng-click="launchDelete(x)">
								<i class="material-icons">delete</i>
							</a></abbr>
						</span>
						<!--<span><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></span>-->
					</div>

					<!--<a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>-->
				</td>
			</tr>
		</tbody>
	</table>

	<modal options="modalOptions"></modal>

	<!-- Add Button -->
	<div class="fixed-action-btn" ng-if="CurrentUserEditor ||CurrentUserAdmin">
		<abbr title="Add"><a class="btn-floating btn-large teal" href="#!forms-question-bank/add">
			<i class="large material-icons">add</i>
		</a></abbr>
	</div>

</div>
<center>
	 
	<pagination total-items="totalItems"  ng-show = "data.list.length>10" class="pagination-sm" ng-model="currentPage" max-size="maxSize" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage"></pagination>

</center>