<div class="section">
<main>
	<div class="main-container">
        <section class="demo-container md-whiteframe-z1">
              <md-toolbar class="demo-toolbar md-primary _md _md-toolbar-transitions blue">
                <div class="md-toolbar-tools">
                  <h3 class="ng-binding ng-isolate-scope"><a class="docs-anchor ng-scope">{{M.HEADING_FORGOT_PASSWORD}}</a></h3>
                  <span flex="" class="flex"></span>
                </div>
              </md-toolbar>
              <md-content layout-padding class="layout-padding _md">
                <!--<div ng-include src="getTemplate('edit')"></div>-->
        		<form name="forms.forgotPasswordForm" ng-submit="forgotPassword()">
                    <md-input-container class="md-block">
                        <label for="email" class="active">{{M.FIELD_EMAIL_ENTER}}:</label>
                        <input id="email" name="email" type="email" class="validate" ng-model="email" required>
                        <div ng-messages="forms.forgotPasswordForm.email.$error" ng-show="forms.forgotPasswordForm.email.$dirty">
                          <div ng-message="required">{{M.REQUIRED}}</div>
                          <div ng-message="email">{{M.INVALID_EMAIL}}</div>        
                        </div>
                    </md-input-container>
    				<div class='row'>
    					<button type='submit' name='btn_login' class='btn waves-effect blue'>{{M.BTN_RECOVER}}</button>
    					&nbsp;<spinner/>
    					<p class="small col-blue" ng-if="error && forgotPasswordSuccess">{{error}}</p>
    					<p class="small col-red" ng-if="error && !forgotPasswordSuccess">{{error}}</p>
    				</div>
    				<div class='row'>
						<label style='float: right;text-decoration: underline'>
							<a class='blue-text' href='#!sign-in'><b>{{M.LNK_BACK_TO_LOGIN}}</b></a>
						</label>
						<p style="float: right">&nbsp;</p>
    				</div>
        		</form>                
              </md-content>
        </section>
</main>
</div>