<div ng-init="newSingle()"></div>
<h6>{{M.TITLE_MY_PROFILE}}&nbsp;<spinner/></h6>
<hr/>
<section class="demo-container md-whiteframe-z1">
    <md-toolbar class="demo-toolbar md-primary _md _md-toolbar-transitions blue">
        <div class="md-toolbar-tools">
            <h3 class="ng-binding ng-isolate-scope"><a class="docs-anchor ng-scope">{{currentUser.first_name}}</a></h3>
            <span flex="" class="flex"></span>
        </div>
    </md-toolbar>
    <md-content layout-padding class="layout-padding _md">
        <div class="card {{editingClass}}">
            <img src="images/user.png" alt="{{currentUser.username}}" style="width:192px; height: 192px">
            <h3>{{currentUser.username}}</h3>
            <h5>{{currentUser.email}}</h5>
            <p class="title">{{currentUser.role}}</p>
            <p>{{currentUser.organization.name}}</p>
            <div style="margin: 24px 0;">
                <a ng-if="currentUser.profile.dribble" href="{{currentUser.profile.dribble}}"><i class="fa fa-dribbble"></i></a>
                <a ng-if="currentUser.profile.twitter" href="{{currentUser.profile.twitter}}"><i class="fa fa-twitter"></i></a>
                <a ng-if="currentUser.profile.linkedin" href="{{currentUser.profile.linkedin}}"><i class="fa fa-linkedin"></i></a>
                <a ng-if="currentUser.profile.facebook" href="{{currentUser.profile.facebook}"><i class="fa fa-facebook"></i></a>
            </div>
            <p><button class="button-block" ng-show="locked" ng-click="edit()">Edit</button></p>
            <p><button class="button-block" ng-show="!locked" ng-click="disableEdit()">Done</button></p>
        </div>
        
        <form name="usersForm" ng-submit="save()" class="{{lockedClass}}">
            <md-input-container ng-if="currentUser.role != 'superadmin'" class="md-block">
                <label for="username" class="active">{{M.FIELD_USERNAME}}:</label>
                <input id="username" name="username" type="text" class="validate" ng-model="userData.username" required ng-disabled="locked">
                <div ng-messages="forms.usersForm.username.$error" ng-show="forms.usersForm.username.$dirty">
                    <div ng-message="required">{{M.REQUIRED}}</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label for="email" class="active">{{M.FIELD_EMAIL}}:</label>
                <input id="email" name="email" type="email" class="validate" ng-model="userData.email" required ng-disabled="locked">
                <div ng-messages="forms.usersForm.email.$error" ng-show="forms.usersForm.email.$dirty">
                    <div ng-message="required">{{M.REQUIRED}}</div>
                    <div ng-message="email">{{M.INVALID_EMAIL}}</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label for="role" class="adtive">{{M.FIELD_ROLE}}:</label>
                <md-select id="role" ng-model="userData.role" ng-disabled="locked">
                    <md-option ng-repeat="u in [{key: '2', value: 'Administrator'}, {key: '3', value: 'Editor'}, {key: '4', value: 'Viewer'}]" ng-value="u.key">
                        {{u.value}}
                    </md-option>
                </md-select>
            </md-input-container>
            <div>
                <button type="submit" class="btn" ng-show="!locked">{{M.BTN_UPDATE}}</button>
                <button ng-click = "changingPassword()" ng-model = "change_password" class="btn">CHANGE PASSWORD</button>
                &nbsp;<spinner/>
            </div>
            <div ng-if="userData.message">
                <p>{{userData.message}}</p>
            </div>
            <div ng-if="userData.error" class="small col-red">
                <p>{{userData.error}}</p>
            </div>
        </form>
        <form name="passwordForm" ng-if = "changeingpassword == true" ng-submit="changePassword()" class="{{lockedClass}}">
            <md-input-container class="md-block">
                <label for="password" class="active">{{M.FIELD_PASSWORD}}:</label>
                <input id="password" name="password" type="password" class="validate" ng-model="passwordData.password" required ng-disabled="locked">
                <div ng-messages="forms.passwordForm.password.$error" ng-show="forms.passwordForm.password.$dirty">
                    <div ng-message="required">{{M.REQUIRED}}</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label for="newPassword" class="active">{{M.FIELD_NEW_PASSWORD}}:</label>
                <input id="newPassword" name="newPassword" type="password" class="validate" ng-model="passwordData.newPassword" required ng-disabled="locked">
                <div ng-messages="forms.passwordForm.newPassword.$error" ng-show="forms.passwordForm.newPassword.$dirty">
                    <div ng-message="required">{{M.REQUIRED}}</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label for="confirmPassword" class="active">{{M.FIELD_CONFIRM_PASSWORD}}:</label>
                <input id="confirmPassword" name="confirmPassword" type="password" class="validate" ng-model="passwordData.confirmPassword" required ng-disabled="locked">
                <div ng-messages="forms.passwordForm.confirmPassword.$error" ng-show="forms.passwordForm.confirmPassword.$dirty">
                    <div ng-message="required">{{M.REQUIRED}}</div>
                </div>
            </md-input-container>
            <div>
                <button type="submit" class="btn" ng-show="!locked">{{M.BTN_UPDATE}}</button>
                &nbsp;<spinner/>
            </div>
            <div ng-if="passwordData.message">
                <p>{{passwordData.message}}</p>
            </div>
            <div ng-if="passwordData.error" class="small col-red">
                <p>{{passwordData.error}}</p>
            </div>
        </form>

    </md-content>
</section>
<div class="fixed-action-btn ">
    <a class="btn-floating btn-large blue" href="#!"><i class="material-icons">home</i></a>
</div>
<style type="text/css">
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 400px;
        margin: auto;
        text-align: center;
        font-family: arial;
    }

    .float-left {
        float: left;
    }

    .float-right {
        float: right;
    }

    .title {
        color: grey;
        font-size: 18px;
    }

    .hidden {
        display: none;
    }

    .visible {
        display: block;
    }

    .formClass {
        width: 500px;
    }

    .button-block {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
    }

    .button-black {
        border: none;
        outline: 0;
        /*display: inline-block;*/
        padding: 8px;
        color: white;
        background-color: #000;
        /*text-align: center;*/
        cursor: pointer;
        /*width: 100%;*/
        font-size: 18px;
    }

    a {
        text-decoration: none;
        font-size: 22px;
        color: black;
    }

    button:hover,
    a:hover {
        opacity: 0.7;
    }
</style>
