<td><a href="#!/{{currentRoute}}/{{item.id}}">{{item.name}}</a></td>
<td><span>{{item.email}}</span></td>
<td>
    <span>{{item.license}}</span>
</td>
<td>
    <span>{{item.validity}}</span>
</td>
<td>
    <span ng-if="item.visible">{{item.org_secret}}</span>
    <button ng-click="toggleVisibility(item)" ng-if="!item.visible" class="btn md-raised md-primary">{{M.BTN_SHOW}}</button>
</td>
<td>
    <div layout="row" flex>
    <md-button ng-if="checkLicenceValidity(item) && item.license != 'super'" class="btn md-raised md-primary green" ng-click="showActivationDialog($event, item)" >
        {{M.BTN_CHANGE_LICENSE}}
    </md-button>
    <md-button ng-if="checkLicenceValidity(item) && item.license != 'super'" class="btn md-raised md-primary green" ng-click="showSetPasswordDialog($event, item)" >
        {{M.BTN_SET_PASSWORD}}
    </md-button>
    </div>
    <md-button ng-if="!checkLicenceValidity(item) && item.license != 'super'" class="btn md-raised md-primary red" ng-click="showActivationDialog($event, item)" >
        {{M.BTN_ACTIVATE}}
    </md-button>
    <md-button ng-if="item.license == 'super'" class="btn md-raised md-primary blue darken-4" >
        {{M.NA}}
    </md-button>
</td>
